In [20]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv('text_files/smsspamcollection.tsv', sep='\t')

In [22]:
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [23]:
df.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [24]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X = df.message

In [27]:
y = df.label

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=43)

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

In [30]:
count_vect = CountVectorizer()

In [31]:
# FIT VECTORIZER TO THE DATA (build a vocab, count nbr of words...
# count_vect.fit(X_train)
# X_train_counts = count_vect.transform(X_train)
# TRANSFORM THE ORIGINAL TEXT MESSAGE --> VECTOR
X_train_counts = count_vect.fit_transform(X_train)

In [32]:
X_train_counts

<3733x7074 sparse matrix of type '<class 'numpy.int64'>'
	with 49564 stored elements in Compressed Sparse Row format>

In [33]:
X_train.shape

(3733,)

In [34]:
X_train_counts.shape

(3733, 7074)

In [35]:
from sklearn.feature_extraction.text import TfidfTransformer

In [ ]:
tfidf_tranformer